@import "./tailwind.css";

@layer base {
  html {
    /* scroll-behavior: smooth; */
  }

  body {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    overflow-x: hidden;
  }

  html body * {
    transition: 0.1s all linear;
  }

  html body *:focus {
    outline: none;
  }
}
